.todo-container {
  width: 377px;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  font-family: sans-serif;
  padding: 30px 20px;
}
.todo-container > h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 25px;
}

.addButton {
  padding: 10px 15px;
  background-color: #3c82f6;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #f9f9f9;
  border-radius: 6px;
}
.newTaskinput {
  display: flex;
  margin-bottom: 20px;
  gap: 5px;
}
.newTaskinput input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.categories {
  display: flex;
  gap: 5px;
  margin-bottom: 25px;
}
.categories button {
  padding: 7px 11px;
  background-color: #e9e9e9;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #717171;
  border-radius: 6px;
}
.categories button.selected {
  background-color: #3c82f6;
  color: #f9f9f9;
}
.noTask {
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
  color: #8d8d8d;
}
.taskSummary {
  font-size: 13px;
  padding: 20px 0;
  color: #8d8d8d;
  display: flex;
  justify-content: space-between;
}
.clearCompletedBtn {
  color: rgb(238, 66, 66);
  cursor: pointer;
}

.copyright {
  color: #8d8d8d;
  font-size: 13px;
  text-align: center;
}
.copyright span {
  color: #3c82f6;
}
.tasks {
  margin-bottom: 25px;
}
.completed {
  color: black;
  text-decoration: line-through;
  width: 200px;
  word-break: break-word;
}
.checkBox {
  display: flex;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  align-items: center;
}
.deleteBtn {
  color: rgb(238, 66, 66);
  background-color: rgb(249, 220, 220);
  padding: 10px 15px;
  border-radius: 6px;
  border: 0;
  margin-left: auto;
  cursor: pointer;
}
.taskP {
  width: 200px;
  word-break: break-word;
}
