.todo-container {
  width: 377px;
  background-color: #fff;
  border-radius: 8px;
  margin-inline: auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 40px;
  height: 290px;
}

.addButton {
  width: 59px;
  background-color: #3c82f6;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #f9f9f9;
  border-radius: 6px;
}
.flex {
  display: flex;
  gap: 20px;
}
